:root {
    --baseColor: 200;
    --dark-gray: hsl(var(--baseColor), 10%, 20%);
    --light-gray: hsl(var(--baseColor), 10%, 60%);
    --light-blue: hsl(var(--baseColor), 100%, 80%);
    --blue: hsl(var(--baseColor), 100%, 50%);
    --dark-blue: hsl(var(--baseColor), 100%, 30%);
}